.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.tsv
*.json
*.xml
*.yml
*.yaml
*.pickle
*.model
*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.pb
*.zip
*.tar
*.gz
*.bz2
*.7z
*.rar
*.egg-info/
dist/
build/
artifacts/